@{
    ViewBag.Title = "The Solar Energy Project";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bringing together everything you need to go green and save money.</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Solar Energy is for Everyone</h3>
<ol class="round">
    <li class="one">
        <h5>Create Your Personalized Profile</h5>
        In order to get a more accurate quote for your Solar Energy investment, we need more detailed
        information about your house and where you live. We will protect your data and will never give
        it to a third party. It's our promise to deliver a service to help you make the best investment
        decision possible.
    </li>

    <li class="two">
        <h5>Analyze the Investment</h5>
        We will give you analytical tools to see the return on invesetment of installing solar panels.
        We can connect you to our network of qualified installers in your area. Our goal is to provide
        you with relvant information and services associated with creating your own energy. We'll
        walk you through the misperceptions of having solar energy and maybe some things you haven't
        considered (like insurance!) 
    </li>

    <li class="three">
        <h5>Make Money and Help the Environment</h5>
        Residential homes save more than $3,000 on energy costs every year. Some even make so much 
        additional energy that they sell energy back to the grid and get paid for it. You will
        provide energy for yourself and your neighbors.
    </li>
</ol>
